body {
  background: white;
  font-family: "PT Sans", sans-serif;
}
.header {
  background-color: rgb(0, 38, 76);
  height: 200px;
  margin: -10px;
  margin-top: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.eur {
  margin-left: 200px;
  color: aqua;
}

.fac {
  color: rgb(104, 240, 104);
}

.footer {
  background-color: rgb(0, 38, 76);
  height: 100px;
  margin-inline: -10px;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.cgu {
  color: white;
}

@media (max-width: 450px) {
  .header {
    background-color: rgb(0, 38, 76);
    height: 160px;
    margin: -10px;
    margin-top: -20px;
  }
  .logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .eur {
    margin-left: 200px;
    color: aqua;
    font-size: 15px;
    margin-right: 20px;
  }

  .fac {
    color: rgb(104, 240, 104);
    font-size: 15px;
  }

  .footer {
    background-color: rgb(0, 38, 76);
    height: 100px;
    margin-inline: -10px;
    margin-top: 10px;
    color: white;
    text-align: center;
  }

  .cgu {
    color: white;
  }
}

@media (min-width: 450px) and (max-width: 700px) {
  .header {
    background-color: rgb(0, 38, 76);
    height: 200px;
    margin: -10px;
    margin-top: -20px;
  }

  .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .eur {
    margin-left: 200px;
    color: aqua;
    font-size: 15px;
    margin-right: 20px;
  }

  .fac {
    color: rgb(104, 240, 104);
    font-size: 15px;
  }

  .footer {
    background-color: rgb(0, 38, 76);
    height: 100px;
    margin-inline: -10px;
    margin-top: 10px;
    color: white;
    text-align: center;
  }

  .cgu {
    color: white;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  .header {
    background-color: rgb(0, 38, 76);
    height: 200px;
    margin: -10px;
    margin-top: -20px;
  }

  .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .eur {
    margin-left: 200px;
    color: aqua;
    font-size: 15px;
    margin-right: 20px;
  }

  .fac {
    color: rgb(104, 240, 104);
    font-size: 15px;
  }

  .footer {
    background-color: rgb(0, 38, 76);
    height: 100px;
    margin-inline: -10px;
    margin-top: 10px;
    color: white;
    text-align: center;
  }

  .cgu {
    color: white;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  .header {
    background-color: rgb(0, 38, 76);
    height: 200px;
    margin: -10px;
    margin-top: -20px;
  }

  .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .eur {
    margin-left: 200px;
    color: aqua;
    font-size: 15px;
    margin-right: 20px;
  }

  .fac {
    color: rgb(104, 240, 104);
    font-size: 15px;
  }

  .footer {
    background-color: rgb(0, 38, 76);
    height: 100px;
    margin-inline: -10px;
    margin-top: 10px;
    color: white;
    text-align: center;
  }

  .cgu {
    color: white;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .header {
    background-color: rgb(0, 38, 76);
    height: 200px;
    margin: -10px;
    margin-top: -20px;
  }

  .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .eur {
    margin-left: 200px;
    color: aqua;
    font-size: 15px;
    margin-right: 20px;
  }

  .fac {
    color: rgb(104, 240, 104);
    font-size: 15px;
  }

  .footer {
    background-color: rgb(0, 38, 76);
    height: 100px;
    margin-inline: -10px;
    margin-top: 10px;
    color: white;
    text-align: center;
  }

  .cgu {
    color: white;
  }
}
